{% extends "personal_cabinet/personal_cabinet.html" %}

{% block title %}
<title>Новый пароль</title>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <form name="new_reset_password" method="post" action="" novalidate >
        <fieldset class="form-group">
            <legend>Сброс пароля</legend>
                {{ form.hidden_tag() }}

                <p>
                    {{ form.new_reset_password.label }} <br>
                    {{ form.new_reset_password() }}
                    {% for error in form.new_reset_password.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>

                 <p>
                    {{ form.confirm_reset_password.label }} <br>
                    {{ form.confirm_reset_password() }}
                    {% for error in form.confirm_reset_password.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.submit()}}
                </p>
        </fieldset>
        </form>
    </div>
{% endblock %}