{% extends 'base.html' %}

{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block content %}
    <div>
        {{ moment.include_moment() }}
<!--        <p>-->
<!--            Привет-->
<!--            {% if current_user.is_authenticated %}-->
<!--            {{session.username}}-->
<!--            {% else  %}-->
<!--            незнакомец-->
<!--            {% endif %}-->
<!--        </p>-->
        {% if not current_user.is_authenticated %}
        <p>
            Новый пользователь? <a href="{{url_for('register')}}"> Перейти на страницу регистрации ! </a>
        </p>
        {% endif %}
        <p>
            The local date and time is {{ moment(current_time).format('LLL') }}.
        </p>
    </div>
{% endblock %}